<div class="container">
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
      <div class="nav navbar-nav" style="float:left;">
        <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <i class="fa fa-home"></i> Home 
            </a>
      </div>
      <div class="nav navbar-nav" style="float:right;">
        <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-sign-in"></i> Login
        </a>

        <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
                <i class="fa fa-user-plus"></i> Register
              </a>

        <a routerLink="/dashboard" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isDashboard">
                <i class="fa fa-user"></i> Dashboard
              </a>

        <a routerLink="/logout" class="nav-item nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
                <i class="fa fa-sign-out"></i> Logout
              </a>

      </div>
      
  </nav>
  <br>
  <hr>
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
 
  
</div>

